@font-face {
	font-family: 'DaxlinePro';
	src: url('../fonts/daxlinepro_bold.eot');
	src: local('☺'), 
	url('../fonts/daxlinepro_bold.woff') format('woff'), 
  url('../fonts/daxlinepro_bold.woff2') format('woff2'), 
	url('../fonts/daxlinepro_bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}