// colors

$black: #2A2A2A;
$red: #E7214D;
$white: #FFFFFF;
$grey-light: #F2EFF0;
$grey: #8F7D83;
$grey-dark: rgba(42, 42, 42, 0.7);


// set

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-family: "OpenSans";
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
}

body {
  font-size: 10px;
  color: $black;
}

a {
  color: unset;
}
a,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  border: 0;
  background: transparent;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  margin-bottom: 10.8rem;
}

input {
  outline: none;
  cursor: pointer;
  font: inherit;

  &:focus {
    outline: none;
  }
  &:active {
      outline: none;
  }
}

.container {
  width: 144rem;
  margin: 0 auto;
}

@media (min-width: 1920px) {
  html {
      font-size: 10px;
  }
}

@media (max-width: 48em) {
  .container {
      padding: 0 4rem; // в моб версии отступ от края задаем для всех контейнеров, а там где не нужно можем точечно убрать
      width: 100%;
  }
}


//typography

.title {
  font-family: "DaxlinePro";
  font-size: 5.8rem;
  line-height: 113%;
  font-weight: 700;
}

.title-m {
  font-family: "DaxlinePro";
  font-size: 3.2rem;
  line-height: 113%;
  font-weight: 700;
}

.title-s {
  font-size: 1.6rem;
  font-weight: 600;
}

.title-xs {
  font-size: 1.6rem;
}

.text {
  font-size: 1.4rem;
}

.text-s {
  font-size: 1.2rem;
}


//buttons

.btn {
  width: fit-content;
  display: flex;
  justify-content: center;
  border-radius: 5rem;

  &-primary {
    display: flex;
    justify-content: center;
    border-radius: 5rem;
    width: 22.7rem;
    padding: 1.1rem 2rem;
    font-size: 1.6rem;
    background: linear-gradient(65deg, $red, #C20C35);
    color: $white;
    border: none;
    cursor: pointer;

    &:hover {
      background: linear-gradient(25deg, #C20C35, $red);
    }
  }

  &-secondary {
    padding: 1.2rem 2.9rem;
    border: 0.1rem solid $red;
    color: $red;
    display: flex;
    justify-content: center;
    border-radius: 5rem;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      background-color: $red;
      color: $white;
    }
  }

  & svg {
    width: 4rem;
    height: 4rem;
  }

  &.arr-r {
    transform: rotate(180deg);
  }

  &:hover {
    & svg path{
      fill: $red;
    }
  }

  &.disabled{
    & svg path{
      fill: $grey;
    }
  }
}

.link {
  font-size: 1.4rem;
  font-weight: 600;

  &:hover {
    color: $red;
  }
}

.input {
  width: 37rem;
  background-color: $grey-light;
  color: $black;
  padding: 1.4rem 2rem;
  border-radius: 1rem;
  border: 0;
  font-size: 1.4rem;

  &::placeholder {
    color: $grey;
  }

  &.error {
    border: 0.1rem solid $red;
    color: $red;
  }
}