.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;

  &__logo {
    width: 9.3rem;
    margin-right: 3rem;
  }

  &__menu{
    width: 100%;
    &-list {
      display: flex;
      gap: 3rem;
    }

    &-item {
      padding: 0 0.4rem;
    }
  }

  &__lang {
    cursor: pointer;
  }
}

.hero {
  background-image: url(../assets/img/hero-img.webp);
  mask-image: linear-gradient(rgb(0 0 0 / 100%) 80%, transparent);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 50.3rem 0 20.7rem;

    &-content {
      & .title {
        width: 70rem;
        margin-bottom: 1.2rem;
        color: $white;
      }

      & .text {
        width: 34.5rem;
        color: $white;
      }
    }
  }
}

.messengers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  width: 30rem;
  margin-top: 6rem;
  padding: 3.4rem 2.3rem;
  background: $grey-light;
  border-radius: 1rem;

  & .title-xs {
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

.projects {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__card {
    position: relative;
    width: 100%;
    width: 41.3rem;

    // &-wrapper {
    //   width: 41.3rem;
    // }

    &-count {
      position: absolute;
      z-index: 5;
      top: 1.4rem;
      right: 2.2rem;
      color: $white;
      width: 5.2rem;
      font-size: 2.4rem;
      font-weight: 700;

      & span {
        display: block;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 400;
      }
    }

    &-ready {
      position: absolute;
      z-index: 5;
      bottom: 8rem;
      right: 2.2rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.6rem 1.6rem 0.6rem 0.9rem;
      border-radius: 5rem;
      background-color: $red;
      color: $white;

      & img {
        width: 1.8rem;
        height: 1.8rem;
      }
    }

    &-swiper {
      width: 100%;
      overflow: hidden;
    }

    & .btn-next,
    & .btn-prev {
      top: 40%;

      & path {
        fill: $white;
      }
    }

    &--btn-next {
      right: 1.3rem;
    }

    &--btn-prev {
      left: 1.3rem;
    }

    &-slide {
      width: 100%;
      height: 26.5rem;
      & img {
        border-radius: 1rem;
      }
    }

    &-name {
      width: 26.5rem;
      align-self: center;
    }

    &-bottom {
      padding: 1.6rem 0 0.5rem;
    }

    &-title,
    &-descr {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }

    &-name,
    &-cost,
    &-about {
      text-transform: uppercase;
    }

    &-descr {
      margin-bottom: 0;
    }

    &-about,
    &-sub {
      color: $grey;
    }

    &-pagination {
      left: 50%;
      bottom: 8.5rem;
      transform: translate(-50%);
    }
  }

  &__button {
    margin: 4rem auto 0;
  }
}


.apart {

  &__inner {
    position: relative;
    background-color: $grey-light;
    border-radius: 1rem;
    padding: 3.8rem 2.7rem;
  }

  &__content {
    width: 27.6rem;
    margin-bottom: 3.3rem;
  }

  &__title {
    margin-bottom: 13.2rem;
  }

  &-swiper {
    overflow: hidden;
    height: 48.6rem;
    margin-top: -30rem;

    & .swiper-wrapper {
      align-items: flex-end;
    }

    &__btn-prev {
      top: 5.5rem;
      left: 37%;
    }
    
    &__btn-next {
      top: 5.5rem;
      left: 42%;
    }

    &__slide {
      width: 26.6rem;
      height: 18.2rem;
      transition: width 0.2s ease-out 0.1s, height 0.3s ease-in-out;
  
      &.active {
        width: 66.5rem;
        height: 48.6rem;
      }
  
      & img {
        border-radius: 1rem;
      }
    }
  }
}

.benefits {
  background-image: linear-gradient($white, transparent 45%), url(../assets/img/benefits.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 10rem 0;
    position: relative;
  }

  &__title {
    width: fit-content;
    font-family: 'DaxlinePro';
    font-size: 23rem;
    line-height: 100%;
    font-weight: 700;
    background: url(../assets/img/u1.webp);
    background-position: top 10% center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__subtitle {
    display: block;
    margin: 0 0 3.7rem 1.5rem;
    font-family: "OpenSans";
    font-size: 3.2rem;
    color: $black;
  }

  &-swiper {
    position: relative;
    margin-top: 7rem;
    height: 25rem;
    overflow: hidden;
    
    &__slide {
      display: flex;
      align-items: center;
      width: 41rem;
      height: 22rem;

      &-text {
        color: $white;
        width: 35rem;
      }
    }

    .swiper-wrapper {
      flex-direction: column;
    }
  }

  .btn-prev,
    .btn-next {
      left: 0;
      right: unset;

      & path {
        fill: $white;
      }
    }

    .btn-prev {
      top: 1.5rem;
      bottom: unset;
      transform: rotate(90deg);
    }

    .btn-next {
      top: unset;
      bottom: 0;
      transform: rotate(270deg);
    }
}

.residence {
  &__inner {
    padding: 7rem 2.7rem;
    border-radius: 1rem;
    background-color: $grey-light;
    background-image: url(../assets/img/residence.webp);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
  }
  &__text {
    width: 53rem;
    margin-bottom: 2.5rem;
  }

  &__title {
    margin-bottom: 1.3rem;
    &-s {
      margin-bottom: 1.5rem;
    }
  }

  &__btn {
    margin-top: 8rem;
  }
}


.about {

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 73.3rem;
  }

  &__title {
    margin-bottom: 11rem;
  }

  &__desc {
    width: 58rem;
    margin-bottom: 4rem;
  }

  &__advantages {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 23.3rem;
      padding: 2rem;
      background-color: $grey-light;
      border-radius: 1rem;
    }

    &-img {
      width: 4rem;
      height: 4rem;
    }

    &-text {
      text-align: center;
    }
  }

  &-swiper {
    position: relative;
    width: 52.6rem;
    border-radius: 1rem;
    overflow: hidden;

    &__slide img {
      border-radius: 1rem;
    }

    &__pagination {
      top: 50%;
      left: unset;
      right: 2rem;
      flex-direction: column;
      transform: translateY(-50%);
    }
  }
}

.team {

  &__subtitle {
    display: block;
    margin-bottom: 1.3rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 6.2rem;

    &-right {
      width: 26.2rem;

      &-text {
        width: 100%;
        margin-bottom: 4.5rem;
      }
    }
  }

  &-swiper {
    width: 99.3rem;
    overflow: hidden;

    &__slide {
      position: relative;
      width: 31.8rem;
      height: 38.1rem;
      border-radius: 1rem;

      &-img {
        width: 100%;
        height: 100%;

        & img {
          border-radius: 1rem;
        }
      }

      &-content {
        display: flex;
        width: 19.5rem;
        flex-direction: column;
      }

      &-links {
        align-self: flex-end;
        & .link:hover path{
          stroke: $red;
        }
      }

      &-post {
        margin-bottom: 0.5rem;
      }

      &-name {
        margin-bottom: 2.7rem;
      }
    }

    &__btns {
      position: relative;
      height: 4rem;
      margin-bottom: 18.7rem;

      .btn-next {
        width: fit-content;
        top: 0;
        left: 7.5rem;
        margin: 0;
      }

      .btn-prev {
        width: fit-content;
        top: 0;
        left: 0;
        margin: 0;
      }
    }

    &__slide-dies {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 15.3rem;
      padding: 2.5rem 2.6rem;
      background-color: $grey-dark;
      color: $white;
      border-radius: 1rem;
    }

    &__slide-links {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }
  }
}



.application {
  margin-bottom: 0;
  background-image: url(../assets/img/u1.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    padding: 4.8rem 0 6.9rem;
  }

  &__title {
    color: $white;
  }

  & .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3.9rem 2.5rem;
    background-color: $white;
    border-radius: 1rem;
    margin-top: 4.2rem;

    &__group {
      width: 103rem;
      display: flex;
      gap: 2rem;

      &-input {
        position: relative;
      }

      & .error__text {
        position: absolute;
        display: none;
        font-size: 1.2rem;
        color: $red;
        padding-left: 2rem;
        bottom: -2rem;

        &.active {
          display: block;
        }
      }
    }

    & .btn-primary {
      width: 16.3rem;
    }
  }
}


.footer {

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0 3.8rem;
    border-bottom: 0.1rem solid $red;
  }

  &__logo {
    width: 13.8rem;
    margin-bottom: 9.3rem;
  }

  &__map {
    width: 48.7rem;
    height: 19.8rem;
    border-radius: 1rem;

    & img {
      border-radius: 1rem;
    }

    & .marker {
      width: 5rem;
      height: 5rem;
      transform: translate(-50%, -70%);
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 30.3rem;
  }

  &__contacts {
    &-links {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      & li:last-child {
        margin-top: 1rem;
      }
    }
  }

  &__title {
    margin-bottom: 2.5rem;
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 50%;
      background-color: $red;

      & img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 2.8rem 0;

    & .link {
      font-weight: 400;
      cursor: pointer;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  background-color: $grey-dark;

  &__inner {
    position: relative;
    padding: 7.5rem 6.8rem;
    border-radius: 1rem;
    background-color: $white;
  }

  &__text {
    margin-bottom: 3rem;
  }

  &__cross {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }

  .btn-secondary {
    width: fit-content;
    margin: 0 auto;
  }

  &.active {
    display: flex;
  }
}