@media (max-width: 48em) {
  .header {

    &__inner {
      position: relative;
      padding: 1.3rem 0;
      justify-content: space-between;
      align-items: center;
    }
  
    &__logo {
      width: 7.5rem;
      margin: 0;
    }

    &__mob {
      top: 6.2rem;
      right: -1.6rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 27.1rem;
      background-color: $white;
      padding-bottom: 2.6rem;
      border-radius: 0 0 0 1rem;

      &-wrapper {
        position: fixed;
        top: 6.2rem;
        left: 0;
        z-index: 100;
        display: none;
        align-items: flex-start;
        justify-content: flex-end;

        width: 100%;
        height: 100vh;
        background-color: $grey-dark;

        &.active {
          display: flex;
        }
      }
    }
  
    &__menu{
      width: 100%;
      margin-bottom: 12.7rem;

      &-list {
        display: flex;
        flex-direction: column;
        gap: 0;
      }
  
      &-item {

        & a {
          display: inline-block;
          width: 100%;
          padding: 2.1rem 1.8rem;
          border-bottom: 0.1rem solid #F2EFF0;

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  
    &__lang {
      display: block;
      padding-right: 1.6rem;
    }

    &__burger {
      width: 2rem;
      padding: 0.5rem;
      display: block;

      & span {
        display: block;
        width: 2rem;
        height: 0.2rem;
        background-color: $black;
        border-radius: 5rem;
        margin-bottom: 0.5rem;
        transition: transform 0.2s ease-in-out;

        &:last-child {
          margin: 0;
        }
      }

      &.active {
        & span {
          transform: rotate(45deg) translateY(0.5rem);

          &:last-child {
            transform: rotate(-45deg) translateY(-0.5rem);
          }
        }
      }
    }
  }
  
  .hero {
    background: linear-gradient(transparent 80%, rgb(255, 255, 255, 100%)), url(../assets/img/hero-mob.webp);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  
    &__inner {
      position: relative;
      padding: 20.6rem 0 24.2rem;
  
      &-content {
        & .title {
          width: 100%;
          max-width: 36rem;
          margin-bottom: 1rem;
        }
  
        & .text {
          width: 29rem;
        }
      }
    }
  }
  
  .messengers {
    position: absolute;
    right: -1.6rem;
    top: 65%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 7rem;
    margin-top: 6rem;
    padding: 1.4rem 1.6rem 1.4rem 1.4rem;
    background: $grey-light;
    border-radius: 1rem 0 0 1rem;
  
    & .title-xs {
      display: none;
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;

      & img {
        display: block;
      }

      & span {
        display: none;
      }
    }
  }
  
  .projects {
    &__card {
      width: 100%;
  
      &-count {
        top: 0.7rem;
        right: 0.8rem;
      }
  
      &-more {
        bottom: 7.5rem;
        right: 0.9rem;
        padding: 1rem 1.6rem;
      }
  
      &--btn-next {
        right: 0rem;
      }
  
      &--btn-prev {
        left: 0rem;
      }
  
      &-slide {
        height: 24.1rem;
      }
  
      &-name {
        width: 23.6rem;
        align-self: center;
      }
  
      &-bottom {
        padding: 1.2rem 0 0.9rem;
      }
  
      &-pagination {
        bottom: 7.5rem;
      }
    }
  }
  
  
  .apart {

    .container {
      padding: 0;
    }
  
    &__inner {
      padding: 3.3rem 1.6rem 7rem;
    }
  
    &__content {
      width: 100%;
      margin-bottom: 2.5rem;
    }
  
    &__title {
      margin-bottom: 1.2rem;
    }

    &__text {
      width: 95%;
    }

    &-thumbs {
      display: block;
      width: 100%;
      height: 12.5rem;
      overflow: hidden;

      &__slide {
        width: 16.4rem;
        height: 100%;

        &.swiper-slide-active {
          display: none;
        }
      }
    }
  
    &-swiper {
      overflow: hidden;
      height: 26.7rem;
      margin-top: 1.6rem;
  
      & .swiper-wrapper {
        align-items: flex-end;
      }
  
      &__btn-prev {
        top: unset;
        bottom: 1.5rem;
        left: 1rem;
      }
      
      &__btn-next {
        top: unset;
        bottom: 1.5rem;
        left: unset;
        right: 1rem;
      }
  
      &__slide {
        width: 100%;
        height: 26.7rem;

        &.active {
          width: 100%;
          height: 26.7rem;
        }
      }
    }
  }
  
  .benefits {
    background-image: linear-gradient($white, transparent 45%), url(../assets/img/benefits-mob.webp);
    background-position: left -2px center;
    background-repeat: no-repeat;
    background-size: cover;
  
    &__inner {
      justify-content: flex-start;
      padding: 0 0 9.4rem 0;
    }
  
    &__content {
      width: 100%;
    }

    &__title {
      font-size: 11rem;
      margin-left: -1rem;
    }
  
    &__subtitle {
      margin: 0 0 1.5rem 0;
      font-size: 2rem;
    }
  
    &-swiper {
      margin-top: 13.5rem;
    }
  }
  
  .residence {
    .container {
      padding: 0;
    }
    &__inner {
      padding: 3.6rem 1.6rem 19.7rem;
      background-image: url(../assets/img/residence.webp);
      background-size: contain;
      background-position: right bottom;
      background-repeat: no-repeat;
    }
    &__text {
      width: 100%;
      margin-bottom: 2rem;
    }
  
    &__title {
      margin-bottom: 1rem;
      &-s {
        margin-bottom: 1.5rem;
      }
    }
  
    &__btn {
      margin-top: 2.8rem;
      width: fit-content;
      padding: 1.1rem 3.7rem;
    }
  }
  
  
  .about {
    &__inner {
      position: relative;
      flex-direction: column;
    }
  
    &__content {
      width: 100%;
    }
  
    &__title {
      margin-bottom: 1rem;
    }
  
    &__desc {
      width: 100%;
      margin-bottom: 27.3rem;
    }
  
    &__advantages {
      width: 100%;
      flex-direction: column;
      gap: 2rem;
  
      &-item {
        gap: 1rem;
        width: 100%;
        padding: 2rem;
      }

      &-text {
        width: 23.5rem;
      }
    }
  
    &-swiper {
      position: absolute;
      top: 23rem;
      width: 100%;
  
      &__slide img {
        border-radius: 1rem;
      }
  
      &__pagination {
        top: unset;
        bottom: 1.5rem;
        left: unset;
        right: 50%;
        transform: translateX(50%);
        flex-direction: row;
      }
    }
  }
  
  .team {
    &__content {
      flex-direction: column;
      margin-top: 2.8rem;
  
      &-right {
        width: 100%;
  
        &-text {
          margin-bottom: 2.8rem;
        }
      }
    }
  
    &-swiper {
      width: 100%;
      overflow: hidden;
      margin-bottom: 1.6rem;
  
      &__slide {
        width: 100%;
        height: 32.2rem;
  
        & img {
          object-position: 0 -25px;
        }

        &-content {
          width: 22.6rem;
        }
  
        &-post {
          margin-bottom: 0.5rem;
        }
  
        &-name {
          margin-bottom: 1rem;
        }

        &-dies {
          height: 10.2rem;
          padding: 1.2rem 1.4rem;
        }
    
        &-links {
          flex-direction: row;
          gap: 2rem;

          & svg {
            width: 3rem;
            height: 3rem;
          }
        }
      }
  
      &__btns {
        margin-bottom: 2.8rem;
  
        .btn-next {
          left: unset;
          right: 0;
        }

      }
    }
  }
  
  
  
  .application {
  
    &__inner {
      padding: 7.6rem 0;
    }
  
    &__title {
      font-size: 3.2rem;
    }
  
    & .form {
      flex-direction: column;
      padding: 4.3rem 2.5rem;
      margin-top: 2.4rem;
  
      &__group {
        width: 100%;
        flex-direction: column;
        gap: 2rem;
  
        & .error__text {
          bottom: -1.7rem;
        }
      }
  
      & .btn-primary {
        margin-top: 2rem;
      }
    }
  }
  
  
  .footer {
  
    &__top {
      flex-direction: column;
      padding: 8rem 0 2.8rem;
      gap: 2.5rem;
    }
  
    &__logo {
      width: 11.6rem;
      margin-bottom: 2.5rem;
    }
  
    &__map {
      width: 100%;
      height: 22rem;
  
      & .marker {
        width: 3.8rem;
        height: 3.8rem;
      }
    }
  
    &__right {
      width: 100%;
    }
  
    &__contacts {
      &-links {
        gap: 1rem;
  
        & li:last-child {
          margin-top: 1rem;
        }
      }
    }
  
    &__title {
      margin-bottom: 2rem;
    }
  
    &__social {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }
  
    &__bottom {
      flex-direction: column;
      gap: 1rem;
      padding: 1.6rem 0;
    }
  }
  
  .modal {
  
    &__inner {
      padding: 5.1rem 2.5rem 4.6rem;
    }
  
    &__text {
      margin-bottom: 3rem;
    }
  
    &__cross {
      top: 1.4rem;
      right: 1.4rem;
    }
  }
  
  .modal-more {
    &.modal {
      .modal{
        &__inner {
          flex-direction: column-reverse;
          width: 35.1rem;
        }
        &__content {
          width: 100%;
          padding: 1.6rem 2rem 2.6rem;
  
          &-title {
            margin-bottom: 2rem;
          }
  
          &-btn {
            margin: 3.1rem 0 0 0;
          }
        }
  
        &__image {
          width: 100%;
          height: 14.5rem;
        }
      }
    }
  }
}