.policy {

  &__heading {
    margin: 6rem 0;
  }
  &__text {
    margin-bottom: 2.4rem;
  }
  &__list {
    padding-left: 0;
    margin-left: 0rem;
    width: 100rem;
    & li {
      margin-bottom: 5.2rem;
    }
  }
  &__title {
    width: 97%;
    display: inline-flex;
    margin-bottom: 2.5rem;
  }
  &__inner {
    &-list {
      & li {
        margin-bottom: 1.2rem;
      }
    }
  }
  ol {
    list-style: none;
    counter-reset: li;
  }
  li::before {
    counter-increment: li;
    content: counters(li, ".") ". ";
  }
}

@media (max-width: 48em) {
  .policy {
    &__heading {
      margin-bottom: 5rem;
    }
    &__text {
      margin-bottom: 3rem;
    }
    &__list {
      padding-left: 0;
      margin-left: 0rem;
      width: 100%;
      & li {
        margin-bottom: 2.2rem;
      }
    }
    &__title {
      width: 94%;
      display: inline-flex;
      margin-bottom: 3.5rem;
      line-height: normal;
    }
    &__inner {
      &-list {
        & li {
          margin-bottom: 1.2rem;
        }
      }
    }
  }
}